<style>
.day {
  display: flex;
  border: 4px solid blue;
  padding: 3px;
  width: 100%;
  box-sizing: border-box;
}

.day div {
  flex-grow: 1;
  flex-basis: 0;
  
  background-color: #f0f0f0;
  color: black;
  padding: 15px 10px;
  text-align: center;
  font-weight: bold;
  
  margin: 0 3px;
}

.day div:first-child {
  margin-left: 0;
}
.day div:last-child {
  margin-right: 0;
}
</style>
