* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #f1f1f1;
  color: #333;
}

.header {
  padding: 50px 0;
  text-align: center;
  background: #e9e9e9;
  font-size: 24px;
}

.header h2 {
    margin: 0;
    font-size: 48px;
    font-weight: bold;
}

.footer {
  padding: 10px;
  text-align: center;
  background: #ccc;
  clear: both;
}

.column {
  float: left;
  width: 33.33%;
  padding: 20px;
  text-align: center;
  min-height: 250px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
