#vung1 {
    background-color: blue; 
    color: white;
    padding: 10px;
    margin-bottom: 5px;
}

#vung2 {
    background-color: yellow;
    padding: 10px;
    margin-bottom: 5px;
}

#vung3 {
    background-color: red;
    color: white;
    padding: 10px;
}
    margin: 5px 0;
}
